{% extends 'bases/index.html' %}

{% block content %}
<table data-toggle="table"
data-url="{% url 'app:bt_serverside' %}"
id="table"
data-show-refresh="true"
data-auto-refresh="true"
data-show-columns="true"
data-show-columns-toggle-all="true"
data-search="true"
data-show-fullscreen="true"
data-buttons="botones"
data-click-to-select="true"
data-single-select="true"
data-side-pagination="server"
data-pagination="true"
data-page-size="15"
>
    <thead>
      <tr>
        <th data-checkbox="true"></th>
        <th data-field="id">Id</th>
        <th data-field="height">Alto</th>
        <th data-field="weight">Ancho</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

<!-- Modal -->
<div class="modal fade" id="modal_edit_new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" 
   data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_titulo">Agregar/Editar Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="idModal">Id</label>
              <input type="text" id="idModal" class="form-control" placeholder="Id" readonly>
            </div>
            <div class="form-group">
              <label for="codigoModal">Código</label>
              <input type="text" id="codigoModal" class="form-control" placeholder="Código">
            </div>
            <div class="form-group">
              <label for="descripcionModal">Descripción</label>
              <input type="text" id="descripcionModal" class="form-control" placeholder="Descripción">
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btnSaveModal">Guardar</button>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block js%}
<script>
  $(document).ready( function () {
    
} );

function botones(){
  return {
    btnNuevo : {
      text: 'Nuevo Registro',
      icon: 'bi bi-plus-square-dotted',
      event: function(){

        $("#idModal").val("")
        $("#codigoModal").val("")
        $("#descripcionModal").val("")
        abrirModal()
      },
      attributes: {
        title: "Nuevo Registro"
      }
    },
    btnEdit : {
      text: 'Editar Registro',
      icon: 'bi bi-pencil-square',
      event: function(){
        var $table = $("#table")
        var obj = $table.bootstrapTable("getSelections")
        // console.log(obj[0])
        if(obj.length!=1){
          mensaje("Debe Seleccionar una Fila para Editarla","Atención!","warning")
          return
        }
        var i = obj[0].id
        var c = obj[0].codigo
        var d = obj[0].descripcion

        $("#idModal").val(i)
        $("#codigoModal").val(c)
        $("#descripcionModal").val(d)

        abrirModal()

      },
      attributes: {
        title: "Editar Registro"
      }
    },
    btnDelete: {
      text : "Borrar Registro",
      icon : "bi bi-trash3",
      event : function(){
        var $table = $("#table")
        var obj = $table.bootstrapTable("getSelections")
        if(obj.length!=1){
          mensaje("Debe Seleccionar una Fila para Eliminarla","Atención!","warning")
          return
        }

        var i = obj[0].id
        borrar(i)

      },
      attributes: {
        title: "Borrar Registro"
      }
    }
  }
}

function abrirModal(){
    $("#modal_edit_new").modal('show')
  }
  function cerrarModal(){
    $("#modal_edit_new").modal('hide')
  }

  $("#btnNewModal").click(function(e){
    $("#idModal").val("")
    $("#codigoModal").val("")
    $("#descripcionModal").val("")
    $("#codigoModal").focus()

    abrirModal()
  })

  function saveModal(codigo,desc){
    var data = {"codigo":codigo,"desc":desc}

    $.ajax({
      headers: {'X-CSRFToken': "{{csrf_token}}"},
      url:"{% url 'app:update1'%}",
      data:data,
      type:"POST",
      success: function(r){
        mensaje("Guardado Satisfatoriamente")
      },
      error: function(jqXHR,textStatus,error){
        console.log(error)
      },
      complete: function(xhr,status){
        console.log("FINALIZADO")
        recargar()
        cerrarModal()
      }
    })
  }

  $("#btnSaveModal").click(function(e){
    var c = $("#codigoModal").val()
    var d = $("#descripcionModal").val()

    saveModal(c,d)
  })

function recargar(){
  var $table = $("#table")
  $table.bootstrapTable("refresh")
}

function borrar(id){

Swal.fire({
  title: `¿Borrar ${id}?`,
  icon: 'question',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Si, Borrar',
  cancelButtonText: "No. No Borrar"
}).then((result) => {
  if (result.isConfirmed) {
    var url = `delete/${id}`

    $.ajax ({
        url : url,
        headers: {'X-CSRFToken': "{{csrf_token}}"},
        type: "POST",
        success: function(r){
          // alert("Borrado")
          mensaje("Borrado Satisfactoriamente","¡Atención!")
        },
        error: function(jqXHR,textStatus,error)
        {
          console.log(error)
        },
        complete: function(xhr,status){
          console.log("Finalizada")
          recargar()
        }
      })    
  }else{
    mensaje("No se borró nada")
  }
})

}
</script>
{% endblock %}