{% extends 'bases/index.html' %}

{% block content %}
<table class="table table-hover" id="tbl">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Alto</th>
        <th scope="col">Peso</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>

<!-- Modal -->
<div class="modal fade" id="modal_edit_new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" 
   data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_titulo">Agregar/Editar Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="idModal">Id</label>
              <input type="text" id="idModal" class="form-control" placeholder="Id" readonly>
            </div>
            <div class="form-group">
              <label for="codigoModal">Código</label>
              <input type="text" id="codigoModal" class="form-control" placeholder="Código">
            </div>
            <div class="form-group">
              <label for="descripcionModal">Descripción</label>
              <input type="text" id="descripcionModal" class="form-control" placeholder="Descripción">
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btnSaveModal">Guardar</button>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block js%}
<script>
  var $tbl
  $(document).ready( function () {
    $tbl = $('#tbl').DataTable({
      ajax: {
        url:"{% url 'app:hw25000_reload'%}",
        dataSrc: 'datos'
      },
      columns: [
        {data: "id"},
        {data: "height"},
        {data: "weight"},
        {
          data: null,
          className: "dt-center editor-edit text-success",
          defaultContent: '<i class="bi bi-pencil-square"></i>',
          orderable: false
        },
        {
          data: null,
          className: "dt-center editor-delete text-danger",
          defaultContent: '<i class="bi bi-trash3"></i>',
          orderable: false
        }
      ],
      select: true,
      dom: 'Bfrtip',
      buttons: [
        {
          text: '<i class="bi bi-plus-square-dotted">',
          className: 'text-primary'  ,
          action: function(e){
            $("#idModal").val("")
            $("#codigoModal").val("")
            $("#descripcionModal").val("")

            abrirModal()
          }
        },
        {
          text : '<i class="bi bi-pencil-square"></i>', className: 'text-success',
          action: function(e,dt,node,config){
            var row = dt.rows({selected:true}).data()
            // console.log(row)
            if(row.length==1){
              // console.log("Una fila")
              // console.log(row[0].codigo)
              var i = row[0].id
              var d = row[0].descripcion
              var c = row[0].codigo
              console.log(i,d,c)

              $("#idModal").val(i)
              $("#codigoModal").val(c)
              $("#descripcionModal").val(d)
              
              abrirModal()
            }else{
              mensaje("Dee Seleccionar una fila","","warning")
            }
          }
        },
        {
          text : '<i class="bi bi-trash3"></i>', className: 'text-danger',
          action: function(e,dt,node,config){
            var row = dt.rows({selected:true}).data()
            if(row.length==1){
              var i = row[0].id
              borrar(i)
            }else{
              mensaje("Dee Seleccionar una fila para Borrar","","warning")
            }
          }
        }
      ]
    });
} );

//Botón Editar
$("#tbl").on("click","td.editor-edit",function(e){
  e.preventDefault()
  var row = $tbl.rows(this).data()
  // console.log(row)
  var i = row.pluck("id").join('')
  var d = row.pluck("descripcion").join('')
  var c = row.pluck("codigo").join('')
  console.log(i,d,c)

  $("#idModal").val(i)
  $("#codigoModal").val(c)
  $("#descripcionModal").val(d)
  
  abrirModal()

})
function abrirModal(){
    $("#modal_edit_new").modal('show')
  }
  function cerrarModal(){
    $("#modal_edit_new").modal('hide')
  }

  function saveModal(codigo,desc){
    var data = {"codigo":codigo,"desc":desc}

    $.ajax({
      headers: {'X-CSRFToken': "{{csrf_token}}"},
      url:"{% url 'app:update1'%}",
      data:data,
      type:"POST",
      success: function(r){
        mensaje("Guardado Satisfatoriamente")
        cerrarModal()
      },
      error: function(jqXHR,textStatus,error){
        console.log(error)
      },
      complete: function(xhr,status){
        console.log("FINALIZADO")
        cerrarModal()
        $tbl.ajax.reload()
      }
    })
  }
  $("#btnSaveModal").click(function(e){
    var c = $("#codigoModal").val()
    var d = $("#descripcionModal").val()

    saveModal(c,d)
  })

  function borrar(id){
    Swal.fire({
      title: `¿Borrar ${id}?`,
      icon: 'question',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, Borrar',
      cancelButtonText: "No. No Borrar"
    }).then((result) => {
      if (result.isConfirmed) {
        var url = `delete/${id}`

        $.ajax ({
            url : url,
            headers: {'X-CSRFToken': "{{csrf_token}}"},
            type: "POST",
            success: function(r){
              // alert("Borrado")
              mensaje("Borrado Satisfactoriamente","¡Atención!")
            },
            error: function(jqXHR,textStatus,error)
            {
              console.log(error)
            },
            complete: function(xhr,status){
              console.log("Finalizada")
              $tbl.ajax.reload()
            }
          })    
      }else{
        mensaje("No se borró nada")
      }
    })
  }

  //Botom Borrar
  $("#tbl").on("click","td.editor-delete",function(e){
    e.preventDefault()
    var row = $tbl.rows(this).data()
    var i = row.pluck("id").join('')
    borrar(i)
  })
</script>
{% endblock %}