{% extends 'bases/index.html' %}

{% block content %}
<div class="container d-flex align-items.center justify-content-center">
    <div class="col-10" id="tbljtable">

    </div>
</div>
{% endblock content %}

{% block js%}
<script type="text/javascript">
    $(document).ready(function () {
        $('#tbljtable').jtable({
            title: 'CRUD jTable con Django x Daniel Bojorge (DEBS Consultores)',
            actions: {
                listAction: '{% url "app:reload4" %}',
                createAction: function (postData, jtParams) {
                    return $.Deferred(function ($dfd) {
                        $.ajax({
                            url: '{% url "app:jtable_new" %}',
                            type: 'POST',
                            data: postData,
                            headers: {'X-CSRFToken': '{{ csrf_token }}'},
                            success: function (data) {
                                $dfd.resolve(data);
                            },
                            error: function () {
                                $dfd.reject();
                            }
                        });
                    });
                },
                updateAction: function (postData, jtParams) {
                    return $.Deferred(function ($dfd) {
                        $.ajax({
                            url: '{% url "app:jtable_edit" %}',
                            type: 'POST',
                            data: postData,
                            headers: {'X-CSRFToken': '{{ csrf_token }}'},
                            success: function (data) {
                                $dfd.resolve(data);
                            },
                            error: function () {
                                $dfd.reject();
                            }
                        });
                    });
                },
                deleteAction: function (postData, jtParams) {
                    return $.Deferred(function ($dfd) {
                        $.ajax({
                            url: '{% url "app:jtable_delete" %}',
                            type: 'POST',
                            data: postData,
                            headers: {'X-CSRFToken': '{{ csrf_token }}'},
                            success: function (data) {
                                $dfd.resolve(data);
                            },
                            error: function () {
                                $dfd.reject();
                            }
                        });
                    });
                }
            },
            fields: {
                id: {
                    key: true,
                    list: true,
                    title:"Id",
                    width: "5%"
                },
                codigo: {
                    title: 'Código',
                    width: '15%'
                },
                descripcion: {
                    title: 'Descripción',
                    width: '80%'
                }
            }
        });
        $('#tbljtable').jtable('load')

    });
</script>
{% endblock %}